<!-- Footer -->
<footer class="bg-transparent text-center text-lg-start mb-5">
    <div class="text-center" style="background-color: transparent; font-weight: 200;">
      © 2021 Copyright: Made by
      <a class="text-dark" href="#">Akshay Dahiwalkar</a>
    </div>
</footer>