<!-- Header -->
<nav class="navbar navbar-light navbar-expand-lg bg-transparent py-2 my-1">
  <div class="container">
    <div class="hero-content mt-2">
      <a href="/" style="text-decoration: none; color: #212529;"><h3>Core Bank</h3></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-3"><a class="nav-link" href="/customers" style="font-size: 1rem; color: black;">All Customers</a></li>
        <li class="nav-item mx-3"><a class="nav-link" href="/transactions" style="font-size: 1rem; color: black;">All Transactions</a></li>
      </ul>
    </div>
  </div>	  
</nav>