<style>
    @media screen and (max-width: 750px){
        body{
            overflow-x: hidden;
        }
        img{
            width: 400px;
            height: 250px;
            margin-left: 3rem;
        }
        .hero{
            margin-top: -2rem;        
        }
        .hero-content h1{
            font-size: 1.9rem;
        }
        .hero-content h4{
            font-size: 1.4rem;
        }
    }
</style> 

<section class="hero py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="hero-content py-5 pr-4 pl-0 mt-5">
                    <h1>Welcome to Core Bank</h1>
                    <h4>Online Banking Simplified</h4>
                    <p class="pr-5 mr-5">Transfer money easily<br>Keep track of transactions</p>
                    <a href="/transactions" class="btn btn-primary" style="background-color: #586BA4; border: none; color: white; font-weight: 400; margin-right: 0.5rem;">All Transactions</a>
                    <a href="/customers" class="btn btn-primary" style="background-color: #5cb85c; border: none; color: white; font-weight: 400;">Send Money</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="hero-content py-3 pr-4 pl-0" style="margin-top: -2rem; margin-left: -5rem;">
                    <img src="/images/home.jpg" alt="" width="700px" height="450px"> 
                </div>
            </div>		
        </div>
    </div>
</section>